body{
    background: #fcfcfc;
}

body footer{
    
}

.beautiful{
    background-color: #e4f2f5;
}

footer{
    background-color: #eef2f3;
}

.click{
    background-color: #1d6fb8;
}

img { width: 400px; height: 290px; }  
.ramka { float: left; margin-right: 20px; margin-bottom: 20px;}

